<section class="outerBorder-lBoard glowing-circle">
    <a href="{% url 'cit2020:navPage' %}">
        <button type="button" class="btn backButton glowing-circle-backButton">
            <
        </button>
    </a>
    <div class="container">
        <a href="{% url 'cit2020:navPage' %}">
            <div class="logo-lBoard">
                <img src="{% static './Assets/whiteIste.png' %}" alt="logo-lBoard">
            </div>
        </a>
        <div class="container">
            <section>
                <div class="cont-lBoard">
                    <div style="position: relative; text-align: center;">
                        <img class="headerImg" src="{% static "./Assets/profile.png" %}" alt="Leaderboard">
                        <div class="txtOnImage">Leaderboard
                            <br>
                            {% if slot == 1 %}
                                Slot 1
                            {% elif slot == 2 %}
                                Slot 2
                            {% elif slot == 3 %}
                                Slot 3
                            {% else %}
                                Final
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="slots-lBoard">
                    <div class="container">
                        <a id="slot1" class="slot-button-lBoard rounded-corners-gradient-borders"
                            href="{% url 'cit2020:lboard' 1  %}">Slot 1</a>
                        <a id="slot2" class="slot-button-lBoard rounded-corners-gradient-borders"
                            href="{% url 'cit2020:lboard' 2  %}">Slot 2</a>
                        <a id="slot3" class="slot-button-lBoard rounded-corners-gradient-borders"
                            href="{% url 'cit2020:lboard' 3  %}">Slot 3</a>
                        <a id="finalSlot" class="slot-button-lBoard rounded-corners-gradient-borders"
                            href="{% url 'cit2020:lboard' 4 %}">Final Round</a>
                    </div>
                </div>
                <br>
                {% if players %}
                    {% if rank == 0 %}
                    
                    {% else %}
                        <h4 style="text-align: center;"><strong> Your rank is {{rank}} </strong></h4>
                    {% endif %}
                    <br>
                    <div class="center">
                        <div class="top3 glowing-circle1">
                            {% if slot == 4 %}
                                {% for player in players|slice:":1" %}
                                    {% if rank != player.rank %}
                                        <div class="one item">
                                            <!-- Player 1 -->
                                            <div class="pos">
                                                1
                                            </div>
                                            <div class="pic"
                                                style="background-image: url({{player.image_url}})">
                                            </div>
                                            <div class="name">
                                                {{player.name}}
                                            </div>
                                            <div class="score">
                                                {{player.final_score}}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for player in players|slice:":1" %}
                                    {% if rank != player.rank %}
                                        <div class="one item">
                                            <!-- Player 1 -->
                                            <div class="pos">
                                                1
                                            </div>
                                            <div class="pic"
                                                style="background-image: url({{player.image_url}})">
                                            </div>
                                            <div class="name">
                                                {{player.name}}
                                            </div>
                                            <div class="score">
                                                {{player.score}}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if slot == 4 %}
                    {% for player in players|slice:':2' %}
                    {% if rank != player.rank %}
                    {% if player.rank == 2 %}
                    <div class="two item">
                        <div class="pos">
                            2
                        </div>
                        <div class="pic"
                            style="background-image: url({{player.image_url}})">
                        </div>
                        <div class="name">
                            {{player.name}}
                        </div>
                        <div class="score">
                            {{player.final_score}}
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {% for player in players|slice:':2' %}
                    {% if rank != player.rank %}
                    {% if player.rank == 2 %}
                    <div class="two item">
                        <div class="pos">
                            2
                        </div>
                        <div class="pic"
                            style="background-image: url({{player.image_url}})">
                        </div>
                        <div class="name">
                            {{player.name}}
                        </div>
                        <div class="score">
                            {{player.score}}
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    
                    {% if slot == 4 %}
                    {% for player in players|slice:':3' %}
                    {% if rank != player.rank %}
                    {% if player.rank == 3 %}
                    <div class="three item">
                        <div class="pos">3</div>
                        <div class="pic"
                            style="background-image: url({{player.image_url}})">
                        </div>
                        <div class="name">{{player.name}}</div>
                        <div class="score">{{player.final_score}}</div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {% for player in players|slice:':3' %}
                    {% if rank != player.rank %}
                    {% if player.rank == 3 %}
                    <div class="three item">
                        <div class="pos">3</div>
                        <div class="pic"
                            style="background-image: url({{player.image_url}})">
                        </div>
                        <div class="name">{{player.name}}</div>
                        <div class="score">{{player.score}}</div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                        </div>
                    </div>
                </section>
                <br>
                <div class="container">
                    <h4>All Users</h4>
                    <br>
                    {% if slot == 4 %}
                        {% for player in players %}
                            {% if rank == player.rank %}
                                <div class="list">
                                    <!-- Player with rank -->
                                    <div class="item">
                                        <div class="pos">{{player.rank}}</div>
                                        <div class="pic" style="background-image: url({{player.image_url}})"></div>
                                        <div class="name">{{player.name}}</div>
                                        <div class="score">{{player.final_score}}</div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="list">
                                    <div class="item">
                                        <div class="pos">{{player.rank}}</div>
                                        <div class="pic" style="background-image: url({{player.image_url}})"></div>
                                        <div class="name">{{player.name}}</div>
                                       <div class="score">{% if showScore %}{{player.final_score}}{% endif %}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for player in players %}
                            {% if rank == player.rank %}
                                <div class="list">
                                    <div class="item">
                                        <div class="pos">{{player.rank}}</div>
                                        <div class="pic" style="background-image: url({{player.image_url}})"></div>
                                        <div class="name">{{player.name}}</div>
                                        <div class="score">{{player.score}}</div>
                                     </div>
                                </div>
                            {% else %}
                                <div class="list">
                                    <div class="item">
                                        <div class="pos">{{player.rank}}</div>
                                        <div class="pic" style="background-image: url({{player.image_url}})"></div>
                                        <div class="name">{{player.name}}</div>
                                        <div class="score">{% if showScore %}{{player.score}}{% endif %}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <div class="soonText text-center">
                        Leaderboard will be available soon .... 
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
