{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="outerBorder glowing-circle"></div>
<a href="{% url 'cit2020:navPage' %}"> <button type="button" class="btn backButton glowing-circle-backButton"><</button></a>
<div class="bg-containertimerpage">
  {% if user and not user.is_anonymous %}
  <div class="containertimerpage-1">
    <div class="text-center conttimerpage">
      <a href="{% url 'cit2020:navPage' %}"><img class="logo-imagetimerpage" src="{% static './Assets/whiteIste.png'%}" /></a>
    </div>
    <div class="containertimerpage container-fluid">
      <h1 class="main-headingtimerpage">TEST WILL START AFTER</h1>
      <p id="demo" style="color:red;"></p>
      <p class="paratimerpage1">Register at <a href="https://unstop.com/competition/cognitive-intelligence-test-60-national-institute-of-technology-nit-durgapur-583542" style="text-decoration: none;">Unstop</a> platform to confirm your registration.</p>
      <p class="paratimerpage2">READ THE <a href="{% url 'cit2020:rules' %}" style="text-decoration: none;">Rules</a> CAREFULLY BEFORE STARTING YOUR TEST</p>
      <p class="paratimerpage3">ALL THE BEST!</p>
    </div>
  </div>
  {% endif %}
</div>

<style>
  body{
    font-family: ethno;
  }

  .bg-containertimerpage {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
  }

  .outerBorder {
      position: absolute;
      border: 2px solid #fff;
      width: 95%;
      height: 95%;
      top: 2.5%;
      left:2.5%;
      border-radius: 3rem;
      justify-content: center;
      align-items: center;
      align-content: center;
  }

  .glowing-circle {

      -webkit-animation: glowing 1s ease-in-out infinite alternate;
      -moz-animation: glowing 1s ease-in-out infinite alternate;
      animation: glowing 1s ease-in-out infinite alternate;
  }

  @keyframes glowing {
    from {
      box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #ffffff,
        0 0 4px rgba(0, 0, 0, 0), 0 0 5px #ffffff,
        0 0 6prgba (0, 0, 0, 0) F0, 0 0 7px #ffffff;
    }

    to {
      box-shadow: 0 0 2px #ffffff, 0 0 3px #ffffff, 0 0 4px #ffffff,
        0 0 5px #ffffff, 0 0 6px #ffffff, 0 0 7px #ffffff, 0 0 8px #ffffff;
    }
  }

  .containertimerpage-1 {
      position:fixed;
      display: flex;
      justify-content: center ;
      align-items: center;
      height: 95vh;
      margin: 10px;
      padding-top: 10%;
  }

  .conttimerpage {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .logo-imagetimerpage {
      position: absolute;
      width: 7rem;
      height: auto;
      top: 2rem;
      left: 3rem;
  }

  .containertimerpage {
      text-align: center;
  }

  .main-headingtimerpage {
      font-size: 40px;
      font-family: ethno;
      font-style: normal;
      font-weight: 400;
      color: white;
      padding-top: 25px;
  }

  .heading1timerpage {
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      color: red;
  }

  .paratimerpage1 , .paratimerpage3 , .paratimerpage3 , .main-headingtimerpage{
    letter-spacing : 5px;
  }

  .paratimerpage1 {
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      color: white;
      padding: 20px;
  }

  .paratimerpage2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 350;
      color: white;
      padding: 20px;
  }

  .paratimerpage3 {
      font-size: 31px;
      font-style: normal;
      font-weight: 300;
      color: white;
      padding: 20px;
  }

   {% comment %} back button {% endcomment %}
   .backButton{
    position: absolute;
    border: 2px solid #fff;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 0px 10px;
    right:4%;
    top:5%;
    font-family: moto;
    color: white;
    background-color:#0000004d;
    text-align: center;
    z-index : 100;
}

.backButton:hover{
    background-color:#fff;
    transform: scale(1.1);
}

.glowing-circle-backButton {

    -webkit-animation: glowing 2s ease-in-out infinite alternate;
    -moz-animation: glowing 2s ease-in-out infinite alternate;
    animation: glowing 2s ease-in-out infinite alternate;
}
{% comment %}  {% endcomment %}

#demo{
  font-size : 2rem;
}

  @media screen and (max-width: 600px) {
      .backButton{
        top:6%;
        right:7%;
      }
      .logo-imagetimerpage {
        position: absolute;
        width: 5rem;
        height: auto;
        top: 2rem;
        left: 1rem;
      }

      .main-headingtimerpage {
          font-size: 1.25rem;
      }

      .headingtimerpage {
          font-size: 1rem;
      }

      .paratimerpage1 {
          font-size: 1rem;
          padding: 0;
      }

      .paratimerpage2 {
          font-size: 1rem;
          padding: 0;
      }

      .paratimerpage3 {
          font-size: 1rem;
      }

      #demo{
        font-size : 1.5rem;
      }
  }
</style>


<script>
  True = 1
  False=0
  var countDownDate
  if ({{player.qualified}}) {
    // Final slot date
    countDownDate = new Date("Jan 10, 2024 13:45:00").getTime();
  }
  else if ({{player.slot}}==1) {
    // slot 1 date
    countDownDate = new Date("Jan 10, 2024 12:00:00").getTime();
  } 
  else if ({{player.slot}}==2) {
    // slot 2 date 
    countDownDate = new Date("Jan 10, 2024 12:30:00").getTime();
  } 
  else if ({{player.slot}}==3) {
    // slot 3 date 
    countDownDate = new Date("Jan 10, 2024 13:00:00").getTime();
  } 
  else{
    // final slot date 
    countDownDate = new Date("Jan 10, 2024 13:45:00").getTime();
  }
  

 // Update the count down every 1 second
 var x = setInterval(function () {

     // Get today's date and time
     var now = new Date().getTime();

     // Find the distance between now and the count down date
     var distance = countDownDate - now;

     // Time calculations for days, hours, minutes and seconds
     var days = Math.floor(distance / (1000 * 60 * 60 * 24));
     var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
     var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
     var seconds = Math.floor((distance % (1000 * 60)) / 1000);

     // Display the result in the element with id="demo"
     document.getElementById("demo").innerHTML = days + "d " + hours + "h "
         + minutes + "m " + seconds + "s ";

     // If the count down is finished, write some text
     if (distance < 0) {
         clearInterval(x);
         document.getElementById("demo").innerHTML = "REFRESH TO START!";
     }
 }, 1000);
</script>
{% endblock %}
